In [1]:
import random
import pandas as pd

seed = 765639 # 765 6주년 39
random.seed(seed)

In [5]:
usecols = [
    '당신의 담당 아이돌은 누구인가요?',
    '추첨할 숫자 입력'
          ]

df = pd.read_csv("밀리시타 애정도 설문(응답) - 설문지 응답 시트1.csv", usecols=usecols, dtype=str)

In [6]:
df[usecols[-1]].value_counts().head(30)

6974    7
1557    6
765     4
39      4
0       4
1234    3
121     3
72      2
32      2
523     2
4747    2
0829    2
719     2
7777    2
5882    2
-1      2
0118    2
2222    2
283     2
23      2
8765    2
7272    2
627     1
8577    1
6759    1
6581    1
1994    1
6797    1
730     1
622     1
Name: 추첨할 숫자 입력, dtype: int64

In [7]:
(df[usecols[0]] + df[usecols[1]].astype(str)).value_counts()

타카네121               3
시호0118               2
아즈사719               2
아리사, 우미6634          1
미키523                1
                    ..
안나8765               1
츠바사, 미즈키, 줄리아6974    1
야요이0                 1
미즈키1356              1
카나7754               1
Length: 238, dtype: int64

In [8]:
def 추첨1(data, num=10):
    # 버걱스 세트
    data = data.copy()
    data['난수'] = [round(random.random() * 100, 2) for _ in range(len(data))]
    
    return data.sort_values(by='난수', ascending=False).head(num)

In [9]:
추첨1(df)

    당신의 담당 아이돌은 누구인가요? 추첨할 숫자 입력     난수
170      야요이, 이오리, 히비키      1374  99.70
66                  로코      5654  99.65
236                코토하         0  97.69
215                 리오      0906  97.17
176                야요이      7478  97.16
149           이오리, 모모코      5301  97.05
220                시즈카      2357  97.01
8         유키호, 로코, 아리사      8746  96.96
221                유키호      7124  96.75
223                레이카      6974  96.15

In [10]:
def 추첨2(data, num=10):
    # 버걱스 단품
    data = data.copy()
    nums = data.index.tolist()
    idx = random.choices(nums, k=num)
    
    return data.loc[idx]

In [11]:
추첨2(df)

    당신의 담당 아이돌은 누구인가요? 추첨할 숫자 입력
203                코노미  -9999999
229                 우미        83
10                 유리코      2052
240                코토하        12
99                 줄리아      5000
223                레이카      6974
112                에밀리      7777
152                하루카       403
46                 아카네        32
199        미나코, 우미, 나오      6974